<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<center>
<h1>Write your name, age, and a message!</h1>
<br>

<!-- Create your form here!
 -->
 <form action="/" method="POST" style="max-width:500px;margin:auto">
  <div>
    <input type="text" placeholder="Quote" name="quote">
</div>
<div>
    <input type="text" placeholder="Quote's author" name="authors_name">
</div>
<div>
    <input type="number" placeholder="Author's age" name="authors_age">
  </div>
  <div>
  	<button type="submit" class="btn">Submit</button>
  </div>
</form>
  </center>

</body>
</html>